.main {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  width: 370px;
  box-shadow: 0 0 10px #3d2f26ed;
  border-radius: 10px;
  margin: 20px auto;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  border-bottom: #7e6f7498 2px;
  box-shadow: 0 0 8px #300657ed;
  padding: 20px;
  background-color: #7e6f7449;
}
.status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.avatar {
  margin-left: 20px;
  width: 80px;
  margin-right: 10px;
}
.name {
  align-content: center;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
  color: #47222f;
}
.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 0;
}
